{% extends 'base_min.html' %}
{% block title %} Internal Server Error {% endblock %}

{% block content %}
<div class="showcase" id="top">
      <div class="main">
        <div class="sub_error">
          <h4><div class="info"><i class="fas fa-info-circle"></i> <i class="fas fa-info-circle fa-2x"></i> <i class="fas fa-info-circle"></i></div>An error has occured and we're working to fix the problem. We will be up and running shortly.</h4>
        </div>
      </div>
</div>
{% endblock content %}