{% extends 'base.html' %}
{% block title %} Strategies {% endblock %}

{% block content %}

<div class="showcase">
  <div class="main" id="top">
    <h2><i class="far fa-lightbulb"></i></i> Momentum Investing - Buying Recent Stock Winners <i class="fas fa-lightbulb"></i></h2>
  </div>
  <div class="main">
    <div class="sub">
      <h4><div class="info"><i class="fas fa-info-circle"></i> <i class="fas fa-info-circle fa-2x"></i> <i class="fas fa-info-circle"></i></div>
        <p>
          <strong>DUAL MOMENTUM</strong> is about selecting assets that have both historically outperformed and also themselves generated a positive return. 
          The first step in applying Dual Momentum is to compare the assets of interest against one another. If an asset has a higher return than another over the time period of interest, then it has positive relative momentum. We select the assets which have positive relative momentum for further analysis. 
          Relative momentum thus acts as the initial filter. Next, we look at the absolute momentum of individual assets. That is, we look at the performance of individual assets compared only to themselves. In simple terms, if an asset has a positive return over the time period of interest, 
          its absolute momentum is positive, and if its return is negative, its absolute momentum is negative. Taking our assets with positive relative momentum, we would only consider buying those assets whose absolute momentum is also positive.
        </p>
        <br>
        <p>
          The seminal work of Jagadeesh and Titman (1993) showed that relative momentum – that is, the returns of an asset in comparison to other assets – provides profitable trading opportunities which are largely robust to the parameters of the trading strategy that might be used to exploit them. 
        They showed that the returns of relative momentum outperformed benchmark returns, however in order to harvest this out-performance, one must typically endure significant volatility, often only marginally better than the benchmark itself. For many active investors and managers, the reward may not justify the risk.
          Antonacci (2012) published an extremely simple yet highly effective extension to relative momentum. He also looked at the absolute momentum of an asset – that is, the momentum of the asset relative to itself – and found that by combining the two types of momentum, he could reap the rewards of relative momentum investing while vastly reducing the volatility of the approach.
        </p>
        <br>
        It is possible for an asset to have positive relative momentum and negative absolute momentum. 
        For example, if the whole market was going down, the best performer in such a bear market would have positive relative momentum, but it might have negative absolute momentum. That is, it might have lost less than its peers. The Dual Momentum approach would prevent us from buying such assets. 
        Likewise, an asset might be going up and have positive absolute momentum, but if other assets performed better, it would have negative relative momentum. The Dual Momentum approach would force us into the assets that had both gone up and outperformed their peers. Dual Momentum is extremely simple to implement and manage, 
        requiring at most a few positional adjustments each month. This combined with its history of low volatility out-performance, in my opinion, makes it the perfect place to start for people who are new to trading, prior to investigating more complex strategies. It won’t shoot the lights out and make you rich overnight, 
        but it has proven itself over time to be a robust way to outperform the market in the long term.
      </h4>
        <table>
          <tr>
            <th>Index</th>
            <th>Return</th>
          </tr>
          {% for i in nums %}
          <tr>
            <td>{{ top_index[i][1] }}</td>
            <td>{{ top_index[i][0] }}</td>
          </tr>
          {% endfor %}
        </table>
    </div>
  </div>
</div>
<br>

{% endblock content %}