<!DOCTYPE html>

<html>
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="../static/min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <title>{% block title %}{% endblock %} - Market Bias</title>
</head>
<div class="container">
  <body>
    <header>
      <a href="{{ url_for('index')}}" class="logo"><img src="../static/images/logo.png" alt="logo"></a>
      <nav>
        <ul class="nav__links">
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('strategies') }}">Strategies</a></li>
        </ul>
      </nav>
      <a href="#" class="contact"><button>Contact</button></a>
    </header>
    <main>
      {% block content %} {% endblock %}
    </main>
    <footer>
      <p class="copy">Copyright &copy; 2021</p>
      <div class="social">
        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        <a href="#" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
    </footer>
  </body>
</div>
</html>